/* background color and default font*/
*{
    font-family: courier;
}
body{
    background-color: #000000;
}
.header{
    text-align: center;
    color: #faebd7;
    padding: 100px;
}
.header_image{
  background-image:url("../images/header_image.png");
  width: 100%;
  height: 290px;
}

/* the sidebar */
.sidenav{
    height: 100%;
    width: 8%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 10px;
    float: left;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #faebd7;
}

/*style for content*/
.content{
float: left;
width: 77%;
}

h3{
color: #faebd7;
width: auto; margin-left: 16%
}

p{
color: #faebd7;
font-size: 16px;
width: auto; margin-left: 16%
}
